.imgla {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body {
    background-color: darkgrey;
    color: white;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: lightgrey;
        color: black;
    }
}


img {
    padding: 10px;
    float: left;
}

@media screen and (max-width: 1200px) {
    img {
        width: 100%;
        padding: 10px;
        float: left;
  }